@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://use.typekit.net/tkv1uwz.css?family=degular&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 2px currentColor;
    color: black; /* Makes the text transparent so only the outline is visible */
  }
  .text-border {
    color: transparent;
    -webkit-text-stroke: 2px white; /* Define the border thickness and color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for other browsers */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
